<header>
  <div class="container">
    <!-- From: -->
    <a routerLink="/">{{ appTitle }}</a>

    <nav>
      <ul>
        <!-- To: -->
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/connexion">Connexion</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact us</a></li>
        <li><a routerLink="/test/test">Test</a></li>
        <!-- <li><a routerLink="/test01">Test-01</a></li>
        <li><a routerLink="/test02">Test-02</a></li>
        <li><a routerLink="/test03">Test-03</a></li>
        <li><a routerLink="/test04">Test-04</a></li> -->


      </ul>
    </nav>
  </div>
</header>