<div class="card">
  <div class="card-header">
    Connexion
  </div>
  <div class="class-body">
    <h5 class="card-title">Votre email</h5>
    <p class="card-text">{{email.value}}</p>
  </div>
</div>

<div class="marginTop">
<form>
  <div class="form-group">
    <label for="inputEmail">Email adress</label>
    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" [formControl]="email">
    <small id="emailHelp" class="form-text text-muted">We'll never shgare your email with anyone else.</small>
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" aria-describedby="passwordHelp" placeHolder="Enter password" [formControl]="password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="check1">
    <label class="form-check-label" for="check1">Check me out</label>
  </div>
  <button (click)="submitConnexion()" class="btn btn-primary">Submit</button>
</form>
</div>